/*==================================== COLORS var ==========================================*/
$mainBack: #666f83;

*,
::after,
::before {
  box-sizing: border-box;
}

.app-header {
  position: relative;
  background-color: #4a515f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
  margin: 0 auto;
}

.iii {
  line-height: 100px;
}

.app-link {
  color: #61dafb;
}

.list__container {
  background-color: $mainBack;
}
